<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{title}}{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href="{{extjs_path}}/resources/css/ext-all-gray.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/flash.css">
        <!--<link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/blue-btn.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/red-btn.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/framework.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/icons.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/app.css">
        
        {% block stylesheets %}{% endblock %}
        
        {% if app.debug %}
            <script type="text/javascript" src="{{extjs_path}}/ext-all-debug.js"></script>
            <script>
                var APP = {
                    EXTJSPATH : '{{extjs_path}}',
                    title: '{{title}}',
                    webpath: './'
                }
                
            </script>
        {% else%}
            <script type="text/javascript" src="{{extjs_path}}/ext-all.js"></script>
        {% endif %}        
        <script type="text/javascript" src="{{ url('api')}}"></script>
        <script type="text/javascript" src="{{app.request.basepath}}/desktop/locale/br.js"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
